
#home{
	color: #fff;
	
	display: table;
	height: 35rem;
	position: relative;
	width: 100%;
	background-size: cover;
}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.landing-text h1{
	font-size: 500%;
	font-weight: 700;
}
.landing-text h3{
	font-size: 400%;
	font-weight: 500;
}

.stepwizard-step h4 {
    margin-top: 0px;
	color:#FF5E18;
	size: 50px;
	
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
	position: relative;
	padding-bottom: 4rem;
}

.stepwizard-row:before {
    top: 16px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
	border-radius: 15px;
	
}
.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-top:100px;
}
.mb-60 {
	margin-bottom: 60px;
}
.section-title p {
	font-size: 24px;
	font-family: Oleo Script;
	margin-bottom: 0px;
	margin-top:50px;
}
.section-title h4 {
	font-size: 40px;
	text-transform: capitalize;
	color: #FF5E18;
	position: relative;
	display: inline-block;
	padding-bottom: 25px;
}
.section-title h4::before {
	width: 80px;
	height: 1.5px;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::before, .section-title h4::after {
	position: absolute;
	content: "";
	background-color: #FF5E18;
}
.single_menu_list img {
	max-width: 60%;
	position: absolute;
	left: 0px;
	top: 0;
	border: 1px solid #ddd;
	padding: 3px;
	border-radius: 50%;
	transition: .4s;
}
.menu_style1 .single_menu_list img {
	position: static;
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 45px;
}
.single_menu_list h4 {
	font-size: 30px;
	padding-bottom: 7px;
	margin-bottom: 10px;
	border-bottom: 1px solid;
}
.single_menu_list h5 {
	font-size: 20px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	border-bottom: 1px solid;
	
}

.single_menu_list h5 span {
	
	font-weight: bold;
	color: #FF5E18;
	font-style: italic;
	padding-left: 15rem;
}
.menu_style1 .col-md-4{
	padding-top: 3rem;
}
p {
	font-weight: 300;
	font-size: 14px;
}
.menu_style1 .single_menu_list {
	text-align: center;
}
.single_menu_list:hover img {
	border-radius: 0;
	transition: .4s;
}
form{
	padding-bottom: 10rem;
}
.bg-video{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.coffee-card{
	position: relative;
	box-shadow: 5px 15px 50px #634832;
	max-width: 420px;
	transition: all .8s;
	overflow: hidden;
	cursor: pointer;
}
.card-header .title-text{
	color: #FF5E18;
}
.ratate{
	perspective: 100rem;
}
.back{
	position: absolute;
	top: -100%;
	background: #fff;
	height: 100%;
	width: 100%;
	opacity: 0;
	user-select: none;
	pointer-events: none;
	transform: rotateY(180deg);
	transition: top .8s opacity .4s;
}

.back-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.rotate:hover .coffee-card{
	transform: rotateY(180deg);
}
.rotate:hover .back{
	opacity: 1;
	top: 0;
	user-select: auto;
	pointer-events: auto;
}
.back-content .btn{
	color: #dbc1ac;
}
.menu_tab {
    margin: 0 auto;
    justify-content: center;
}

.nav-item {
    display: inline-block;
    text-align: center;
}

.nav-tabs .nav-link {
    transition: .3s;
}

.nav-tabs .nav-link.active {
    background: #ffbf00;
    color: #fff;
    font-weight: 700;
    border: 1px solid #ffbf00;
    text-transform: capitalize;
}

.nav-link {
    color: #fff;
}

.nav-tabs .nav-link:hover {
    background: #ffbf00;
    color: #fff;
    border: 1px solid #ffbf00;
}



